@import "fonts";

body {
    font-family: 'Gilroy';
    font-size: 18px;
    color: #000000;
}

h1 {
   font-size: 90px; 
   font-weight: 600;
   text-transform: uppercase;
}

h2 {
    font-size: 54px;
    font-weight: 700;
    margin-bottom: 60px;
    text-transform: uppercase;
    color: #000;
}

h3 {
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
}

h4 {
    font-size: 36px;
    font-weight: 500;
    text-transform: uppercase;
}

h5 {
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
}

.header {
    position: relative;
    color: #fff;
    min-height: 955px;
    height: 100vh;
    padding-top: 40px;

    display: flex;
    flex-direction: column;

    &__bg {
        position: absolute;
        width: 100%;
        height: 100%;
        background-size: cover;
        z-index: -1;
        top: 0;
        left: 0;
    }

    &__offer {
        height: 100%;
        display: flex;
        align-items: center;

        h1 {
            font-weight: bold;
            font-size: 76px;
            line-height: 120%;
            display: flex;
            flex-direction: column;
            margin: 0;
            padding-bottom: 130px;
        }

        &-small {
            font-weight: 500;
            font-size: 60px;
            line-height: 150%;
        }
    }

    &__next-btn {
        position: absolute;
        bottom: 90px;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #FFFFFF;
        text-decoration: none;

        &:hover {
            color: #FFFFFF;
        }

        span {
            transform: rotate(180deg);
            writing-mode: vertical-rl;
            text-orientation: mixed;
            margin-bottom: 19px;
            display: block;

            font-size: 24px;
            letter-spacing: 0.11em;
            line-height: 90%;      
        }

        svg {
            margin-left: 3px;
        }
    }
}

.btn {
    background: #D30000;
    border-radius: 10px;
    color: #FFFFFF;
    padding: 0 60px;
    font-weight: 500;
    font-size: 24px;
    height: 60px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;

    &:hover {
        color: #FFFFFF;
        background-color: #EE1B1B;
    }

    &-more {
        background: transparent;
        border: none;
        color: #D30000;
        padding: 0;
        margin: 0;
        font-weight: 500;
        font-size: 21px;
        cursor: pointer;
        display: flex;
        align-items: center;

        &::after {
            width: 24px;
            height: 24px;
            content: '';
            display: block;
            background-image: url("data:image/svg+xml,%3Csvg width='24' height='25' viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='11.25' y='1.75' width='2.33333' height='21.5' fill='%23D30000' stroke='%23D30000' stroke-width='1.5'/%3E%3Crect x='1.25' y='11.75' width='21.5' height='2.5' fill='%23D30000' stroke='%23D30000' stroke-width='1.5'/%3E%3C/svg%3E%0A");

            background-repeat: no-repeat;
            background-size: contain;
            margin-left: 10px;
        }
    }
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__contacts {
        margin-left: auto;
    }

    .vr {
        margin: auto 30px;
        margin-left: 45px;
        height: 40px;
        width: 2px;
    }

    &__lang .form-select {
        background-color: transparent;
        color: #fff;
        border: none;
        font-size: 20px;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");

        option {
            color: #000;

            &:checked {
                color: #4a4a4a;
                background-color: #858585;
            }
        }

        &:focus {
            box-shadow: none;
        }

        &:hover {
            cursor: pointer;
        }
    }
}

.logo-brand {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 24px;
    line-height: 125%;

    p  {
        margin: 0;
    }

    img, svg {
        margin-right: 25px;
    }
}

.contacts {
    &__item {
        img, svg {
            margin-right: 10px;
        }

        font-weight: 500;
        font-size: 24px;

        a {
            color: #fff;
            text-decoration: none;
        }
    }
}

.form {
    .card-body {
        background: #FFFFFF;
        box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        padding-top: 50px;
        padding-bottom: 70px;

        padding-left: 70px;
        padding-right: 70px;

        overflow: hidden;

        h3 {
            text-align: center;
            font-weight: bold;
            font-size: 39px;
            line-height: 48px;
            color: #000000;
            text-transform: none;
            margin-bottom: 50px;
        }
    }

    .btn {
        height: 83px;
        width: 100%;
        border-radius: 15px;
    }

    .form-floating {
        margin-bottom: 20px;

        label {
            color: #9E9E9E;
            padding-left: 30px;
        }

        .form-control {
            border: 1px solid #C5C5C5;
            border-radius: 15px;
            font-weight: 300;
            font-size: 20px;
            padding: 0 30px;
            padding-top: 15px;
            color: #000000;
            background-color: #fff;

            ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                color: #9E9E9E;
            }
            ::-moz-placeholder { /* Firefox 19+ */
                color: #9E9E9E;
            }
            :-ms-input-placeholder { /* IE 10+ */
                color: #9E9E9E;
            }
            :-moz-placeholder { /* Firefox 18- */
                color: #9E9E9E;
            }

            &:focus {
                border: 1px solid #D30000;
                outline: none;
                box-shadow: none;
            }
        }

        input.form-control {
            height: 56px;
        }

        textarea.form-control {
            padding-top: 21px;
            padding-bottom: 17px;

            min-height: 120px;
        }

        &_last {
            margin-bottom: 50px;
        }
    }
}

.benefits {
    padding-top: 215px;
    position: relative;

    &::after {
        display: block;
        content: '';
        position: absolute;
        width: 917px;
        height: 1529px;
        left: 0;
        top: 0;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url('../img/benefits__bg0.png');
        z-index: -2;
    }

    &__bg {
        width: 100%;
        object-fit: contain;
        margin-top: -177px;
        position: relative;
        z-index: -1;
        margin-bottom: -180px;
    }

    &__card {
        background: #FFFFFF;
        box-shadow: 0px 4px 40px rgba(211, 0, 0, 0.1);
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        padding: 50px 30px 30px;
        min-height: 310px;
        height: 100%;

        img {
            max-width: 140px;
            max-height: 115px;
            margin-bottom: auto;
        }

        h5 {
            font-weight: 600;
            margin-bottom: 45px;
            margin-top: 25px;
            text-align: center;
        }

        .btn-more {
            margin-left: auto;
        }
    }
}

.services {
    padding-bottom: 240px;
    position: relative;

    &::after {
        display: block;
        content: '';
        position: absolute;
        width: 1149px;
        height: 1198px;
        right: 0;
        bottom: 0;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url('../img/services__bg.png');
        z-index: -2;
    }

    h2 {
        margin-bottom: 100px;
    }

    &__card {
        background: #FFFFFF;
        box-shadow: 0px 4px 40px rgba(211, 0, 0, 0.1);
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 70px 2.5em 25px;
        min-height: 370px;
        margin: 12px 0;
        flex-grow: 1;
        width: 100%;

        h4 {
            text-transform: none;
            margin-bottom: 12px;
            line-height: 120%;
            text-align-last: left;
        }

        .btn-more {
            margin-left: auto;
            margin-top: auto;
        }

        p {
            font-size: 18px;
            line-height: 130%;
        }
    }
}

.steps {
    background-color: #111214;
    padding-top: 125px;
    padding-bottom: 65px;
    color: #fff;
    
    h2 {
        color: #fff;
        margin-bottom: 110px;
    }

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
    }

    &__card {
        padding-bottom: 25px;
        border-bottom: 1px solid #fff;
        margin-right: 90px;
        margin-bottom: 80px;
        min-width: 295px;
        padding-right: 25px;
        position: relative;

        &::after {
            content: '';
            display: block;
            position: absolute;
            flex-shrink: 0;
            background-image: url("data:image/svg+xml,%3Csvg width='7' height='13' viewBox='0 0 7 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.15685 6.15685L0.853553 0.853553C0.658291 0.658291 0.341709 0.658291 0.146447 0.853553C-0.0488154 1.04882 -0.0488154 1.3654 0.146447 1.56066L4.8033 6.21751V6.8033L0.146447 11.4602C-0.0488155 11.6554 -0.0488155 11.972 0.146447 12.1673C0.341709 12.3625 0.658291 12.3625 0.853553 12.1673L6.15685 6.86396C6.35212 6.6687 6.35212 6.35212 6.15685 6.15685Z' fill='white'/%3E%3C/svg%3E%0A");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            width: 7px;
            height: 13px;

            bottom: -7px;
            right: -1px;
        }

        &-img {
            background: #111214;
            box-shadow: 0px 4px 20px rgba(211, 0, 0, 0.54);
            border-radius: 100%;
            width: 100px;
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 33px;
        }

        h4 {
            text-transform: none;
            font-weight: 400;
        }
    }
}

.consultation {
    padding-top: 290px;
    padding-bottom: 290px;
    position: relative;

    &__offer {
        text-transform: uppercase;
        padding-left: 60px;

        &-small {
            font-weight: 500;
            font-size: 45px;
            line-height: 100%;
        }

        &-big {
            font-weight: bold;
            font-size: 80px;
            line-height: 100%;
        }
    }

    .btn {
        margin-top: 55px;
        text-transform: none;
    }

    &__bg {
        position: absolute;
        right: 0;
        top: 0;
        z-index: -1;
        background-size: cover;
        background-position: top right;
    }
}

.reviews {
    padding-bottom: 175px;

    h2 {
        margin-bottom: 105px;
    }

    &__card {
        background: #FFFFFF;
        // box-shadow: 0px 4px 40px rgba(211, 0, 0, 0.1);
        border: 2px solid #FFEAEA;
        border-radius: 20px; 
        display: flex;
        flex-direction: column;
        align-items: center;

        text-align: center;
        padding: 0 40px 60px;
    }

    &__splide {
        position: relative;

        .splide__list {
            padding: 50px 0px!important;
        }

        .splide__arrows {
            position: absolute;
            width: 100%;
            top: calc(50% - 30px);
            left: 0;

            .splide__arrow {
                position: absolute;
                z-index: 1;
                width: 37px;
                height: 58px;
                background-color: transparent;
                background-repeat: no-repeat;
                background-size: contain;
                border: none;
                padding: 0;
                opacity: 0.4;
                transition: opacity 0.3s ease;

                &:hover {
                    opacity: 1;
                }

                svg {
                    display: none;
                }
            }

            .splide__arrow--prev {
                left: -70px;

                background-image: url("data:image/svg+xml,%3Csvg width='38' height='58' viewBox='0 0 38 58' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M33.151 0.294934C33.9995 0.276271 34.8328 0.522249 35.5349 0.999049C36.2371 1.47585 36.7732 2.1599 37.0688 2.9555C37.3644 3.75109 37.4048 4.6189 37.1843 5.43851C36.9639 6.25811 36.4935 6.98832 35.8386 7.52824L10.8521 28.9338L35.8386 50.3318C36.2916 50.6648 36.671 51.0875 36.953 51.5738C37.235 52.0602 37.4135 52.5996 37.4774 53.1582C37.5413 53.7167 37.4892 54.2823 37.3244 54.8198C37.1595 55.3573 36.8854 55.8551 36.5194 56.2817C36.1533 56.7084 35.703 57.0545 35.1968 57.299C34.6906 57.5436 34.1394 57.681 33.5776 57.7027C33.0158 57.7243 32.4556 57.6301 31.9321 57.4253C31.4086 57.2204 30.933 56.9097 30.5351 56.5125L1.92782 32.0362C1.47858 31.6528 1.11784 31.1769 0.870468 30.6406C0.623104 30.1043 0.49501 29.5206 0.49501 28.93C0.49501 28.3394 0.623104 27.7557 0.870468 27.2194C1.11784 26.6831 1.47858 26.2068 1.92782 25.8235L30.5351 1.32355C31.2578 0.681663 32.1847 0.316733 33.151 0.293992V0.294934Z' fill='%23FF9595'/%3E%3C/svg%3E%0A");
            }

            .splide__arrow--next {
                right: -70px;

                background-image: url("data:image/svg+xml,%3Csvg width='38' height='58' viewBox='0 0 38 58' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.84902 0.294934C4.00049 0.276271 3.16723 0.522249 2.46508 0.999049C1.76292 1.47585 1.22677 2.1599 0.931171 2.9555C0.635566 3.75109 0.595194 4.6189 0.815666 5.43851C1.03614 6.25811 1.5065 6.98832 2.16136 7.52824L27.1479 28.9338L2.16136 50.3318C1.70836 50.6648 1.32898 51.0875 1.04699 51.5738C0.764998 52.0602 0.586462 52.5996 0.52256 53.1582C0.458659 53.7167 0.510771 54.2823 0.675633 54.8198C0.840494 55.3573 1.11455 55.8551 1.48065 56.2817C1.84674 56.7084 2.29699 57.0545 2.80318 57.299C3.30938 57.5436 3.86062 57.681 4.42239 57.7027C4.98416 57.7243 5.54435 57.6301 6.06789 57.4253C6.59143 57.2204 7.06703 56.9097 7.46491 56.5125L36.0722 32.0362C36.5214 31.6528 36.8822 31.1769 37.1295 30.6406C37.3769 30.1043 37.505 29.5206 37.505 28.93C37.505 28.3394 37.3769 27.7557 37.1295 27.2194C36.8822 26.6832 36.5214 26.2068 36.0722 25.8235L7.46491 1.32355C6.74225 0.681663 5.81533 0.316733 4.84902 0.293992V0.294934Z' fill='%23FF9595'/%3E%3C/svg%3E%0A");
            }
        }

        .splide__pagination {
            &__page {
                background: #FFCECE;
                margin: 0 8px;
                border-radius: 2px;
                width: 13px;
                height: 13px;
                border: none;

                &.is-active {
                    background: #FF9595;
                }
            }
        }
    }

    &__av {
        border-radius: 100%;
        width: 138px;
        height: 138px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        margin-top: -50px;
        margin-bottom: 23px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__name {
        font-weight: bold;
        font-size: 32px;
    }

    &__proff {
        font-weight: 500;
        font-size: 20px;
        color: #757575;
        margin-bottom: 22px;
    }

    &__text {
        font-weight: normal;
        font-size: 20px;
        line-height: 140%;
        color: #373434;

        p {
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.faq {
    padding-bottom: 220px;
    padding-top: 65px;

    position: relative;

    &::after {
        display: block;
        content: '';
        position: absolute;
        width: 949px;
        height: 771px;
        right: 0;
        bottom: 0;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url('../img/faq__bg.png');
        z-index: -1;
    }

    h2 {
        margin-bottom: 100px;
    }

    &__wrapper {
        max-width: 1070px;
        margin: 0 auto;
    }

    .custom-accordion {
        display: flex;
        flex-direction: column;

        &__btn {
            text-align: left;
            padding: 0;
            border: none;
            background: transparent;
            display: flex;
            align-items: center;
            position: relative;
            padding-right: 40px;

            h6 {
                font-weight: 500;
                font-size: 36px;
            }

            &::after {
                content: '';
                display: block;
                position: absolute;
                flex-shrink: 0;
                right: 0;
                background-repeat: no-repeat;
                background-size: contain;
                width: 25px;
                height: 25px;
                transition: transform 0.3s ease;

                background-image: url("data:image/svg+xml,%3Csvg width='29' height='29' viewBox='0 0 29 29' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='13' y='1' width='3' height='27' fill='%23D30000' stroke='%23D30000' stroke-width='2'/%3E%3Crect x='1' y='13' width='27' height='3' fill='%23D30000' stroke='%23D30000' stroke-width='2'/%3E%3C/svg%3E%0A");
            }

            &.active {
                h6 {
                    margin-bottom: 60px;
                }

                border-bottom: none;
                padding-bottom: 0;

                & + .custom-accordion__panel {
                    border-bottom: 1px solid #000000;
                }

                &::after {
                    transform: rotate(45deg);
                }
            }

            border-bottom: 1px solid #000000;
            padding-bottom: 30px;
            padding-top: 30px;

            &:last-of-type {
                border-bottom: none;

                &.active {
                   & + .custom-accordion__panel {
                        border-bottom: none;
                   }
                }
            }
        }

        &__panel {
            font-weight: 500;
            font-size: 20px;
            line-height: 140%;
            color: #373434;
            padding-bottom: 35px;
            padding-right: 60px;

            p {
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}

.contactus {
    padding-top: 100px;
    padding-bottom: 80px;

    background-image: url('../img/contacts__bg.jpg');
    background-size: cover;

    color: #fff;

    &__content {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h3 {
            font-size: 42px;
            text-transform: none;
            margin-bottom: 50px;
            font-weight: 700;
        }
    }

    &__list {
        list-style: none;
        padding: 0;

        a {
            color: #fff;
        }

        li {
            font-weight: 500;
            font-size: 31px;
            display: flex;
            align-items: center;
            margin-bottom: 40px;

            &:last-of-type {
                margin-bottom: 0;
            }

            img, svg {
                margin-right: 20px;
                width: 40px;
                object-position: center;
            }
        }
    }
}

.footer {
    background: #111214;
    padding-top: 40px;
    padding-bottom: 60px;

    color: #fff;

    &__nav {
        list-style: none;
        padding: 0;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;

        margin-bottom: 55px;

        a {
            color: #fff;
            text-decoration: none;
        }

        li {
            margin: 20px 50px;
            font-weight: bold;
            font-size: 20px;
        }
    }

    &__copy {
        text-align: center;
    }
}