@media screen and (min-width: 1600px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1460px;
    }
}

@media screen and (max-width: 1899px) {
    .consultation__bg {
        object-position: 9em;
    }
}

@media screen and (max-width: 1599px) {
    h2 {
        font-size: 48px;
    }

    h4 {
        font-size: 30px;
    }

    .consultation {
        padding-top: 260px;

        &__bg {
            object-position: 14em -4em;
        }

        &__offer-big {
            font-size: 60px;
        }

        &__offer-small {
            font-size: 40px;
        }
    }

    .header__offer {
        &-small {
            font-size: 55px;
        }

        h1 {
            font-size: 70px;
        }
    }

    .form .card-body {
        padding-top: 40px;
        padding-bottom: 60px;
        padding-left: 50px;
        padding-right: 50px;

        h3 {
            font-size: 36px;
            margin-bottom: 40px;
        }
    }

    .contacts__item {
        font-size: 22px;

        svg, img {
            max-width: 29px;
        }
    }

    .benefits {
        padding-top: 155px;

        &__card {
            padding: 40px 25px 30px;

            h5 {
                margin-bottom: 35px;
                margin-top: 20px;
            }

            img {
                max-height: 105px;
            }
        }

        &::after {
            display: none;
        }

        &__bg {
            margin-top: -147px;
            margin-bottom: -120px;
        }
    }

    .services {
        padding-bottom: 200px;

        h2 {
            margin-bottom: 60px;
        }

        &__card {
            padding: 40px 2.5em 25px;
            min-height: 330px;
        }
    }

    .reviews {
        padding-bottom: 115px;
        padding-top: 40px;

        h2 {
            margin-bottom: 75px;
        }

        &__card {
            padding: 0 25px 40px;
        }

        &__text {
            font-size: 18px;
        }

        &__proff {
            font-size: 18px;
        }

        &__name {
            font-size: 28px;
        }

        &__av {
            width: 128px;
            height: 128px;
            margin-bottom: 6px;
        }

        &__splide .splide__arrows .splide__arrow {
            width: 29px;
            height: 44px;
        }
    }

    .faq {
        padding-bottom: 170px;

        h2 {
            margin-bottom: 60px;
        }

        .custom-accordion__panel {
            font-weight: 400;
            font-size: 18px;
        }

        .custom-accordion__btn.active h6 {
            margin-bottom: 30px;
        }

        .custom-accordion__btn h6 {
            font-size: 30px;
        }
    }

    .contactus {
        &__list {
            li {
                font-size: 26px;

                svg,img {
                    width: 32px;
                }
            }
        }
    }

    .footer {
        padding-bottom: 50px;
        padding-top: 30px;

        &__nav {
            margin-bottom: 35px;

            li {
                margin: 20px 30px;
                font-size: 18px;
            }
        }

        &__copy {
            font-size: 16px;
        }
    }
}

@media screen and (max-width: 1399px) {
    h2 {
        font-size: 38px;
    }

    h4 {
        font-size: 27px;
    }

    h5 {
        font-size: 18px;
    }

    .header {
        min-height: 885px;

        &__offer {
            h1 {
                font-size: 60px;
            }
        }

        &__offer-small {
            font-size: 47px;
        }
    }

    .form {
        .card-body h3 {
            font-size: 30px;
            margin-bottom: 20px;
        }

        .btn {
            height: 63px;
            font-size: 20px;
        }

        .form-floating_last {
            margin-bottom: 40px;
        }

        .form-floating {
            .form-control {
                padding: 0 20px;
                padding-top: 12px;
            }

            label {
                padding-left: 20px;
            }
        }
    }

    .benefits {
        &__card {
            padding: 30px 20px 20px;
            min-height: unset;

            img {
                max-height: 85px;
            }
        }
    }

    .btn-more {
        font-size: 18px;

        &::after {
            width: 18px;
            height: 18px;
        }
    }

    .services {
        padding-bottom: 170px;

        &__card {
            padding: 30px 1.5em 25px;
            min-height: unset;
        }

        p {
            font-size: 17px;
        }
    }

    .steps {
        &__card {
            min-width: 255px;
            margin-right: 80px;
        }

        h2 {
            margin-bottom: 80px;
        }
    }

    .reviews {
        &__splide .splide__arrows {
            .splide__arrow--next {
                right: -50px;
            }

            .splide__arrow--prev {
                left: -50px;
            }
        }
    }

    .faq {
        h2 {
            margin-bottom: 30px;


        }

        .custom-accordion__btn {
            &::after {
                width: 21px;
                height: 21px;
                top: 36px;
            }

            h6 {
                font-size: 28px;
            }
        }
    }

    .footer {
        &__copy {
            font-size: 14px;
            opacity: 0.5;
        }

        &__nav li {
            font-weight: 600;
        }
    }

}

@media screen and (max-width: 1199px) {
    h2 {
        font-size: 32px;
    }

    h4 {
        font-size: 24px;
    }

    .benefits {
        padding-top: 115px;
    }

    .services {
        h2 {
            margin-bottom: 50px;
        }
    }

    .header {
        height: auto;

        &__offer {
           height: auto; 
           text-align: center;
           display: flex;
           justify-content: center;

           h1 {
            padding-top: 100px;
            padding-bottom: 90px;
           }
        }

        &__next-btn {
            display: none;
        }
    }

    .form {
        max-width: 600px;
        margin: 0 auto;
        margin-bottom: 100px;
    }

    .btn {
        padding: 0 43px;
        font-weight: 500;
        font-size: 19px;
        height: 52px;
    }

    .consultation {
        padding-top: 180px;
        padding-bottom: 210px;

        &__bg {
            width: 900px;
            object-position: 11em -1em;
        }
    }

    .steps {
        &__card {
            min-width: 195px;
            margin-right: 60px;
        }

        &__card-img {
            width: 80px;
            height: 80px;
        }
    }

    .reviews {
        h2 {
            text-align: center;
        }
    }
    
    .contactus {
        &__content {
            max-width: 600px;
            margin: 0 auto;
        }
    }

    .footer {
        &__nav li {
            margin: 13px 21px;
            font-size: 16px;
        }
    }

    .faq {
        padding-bottom: 130px;
    }
}

@media screen and (max-width: 991px) {

}

@media screen and (max-width: 767px) {

}

@media screen and (max-width: 576px) {

}